<div class="loader">
  <ul>
      <li>M</li>
      <li>e</li>
      <li>a</li>
      <li>l</li>
      <li>P</li>
      <li>r</li>
      <li>e</li>
      <li>p</li>
  </ul>
</div>
<div class="first-block"></div>
<div class="cont">
<div class="block"></div>
<div class="infos">
  <h1 class="head_">MealPrep</h1>
  <p class="parag_">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptate accusantium molestiae consequuntur cupiditate!</p>
  <button class="btn_ bouton_ btns_">
    <div class="circle">
      <span class="icon arrow"></span>
    </div>
    <a href="" class="button-text"[routerLink]="['/home/parag']">Calories</a>
  </button>
</div>
</div>
<div id="parag">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugit architecto ipsam laboriosam consequuntur soluta nobis assumenda vel aliquid asperiores?</p>
</div>
