
<header class="main-header">
  <div class="logo">
    <a href="#">LOGO</a>
  </div>
  <input type="checkbox" id="menu-btn" class="menu-btn">
  <label for="menu-btn" class="menu-icon">
    <span class="menu-icon_line"></span>
  </label>
  <ul class="nav-links">
    <ul class="nav-link">
      <a routerLink="/">Accueil</a>
    </ul>
    <ul class="nav-link" >
      <a routerLink="/recognize">Recognize</a>
    </ul>
    <ul class="nav-link">
      <a href="#">About</a>
    </ul>
    <ul class="nav-link">
      <a href="#">Contact</a>
    </ul>
  </ul>
</header>

<router-outlet></router-outlet>
